{% set this_page = "traceroutes" %}
{% extends "templates/static/layout.html.j2" %}

{% block title %}Traceroutes{% endblock %}

{% block content %}
  <div class="container pt-3">
  <h5>{{ this_page.title() }}</h5>
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">Timestamp</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Hops</th>
        <th scope="col">Route</th>
        <th scope="col">Route Hops</th>
      </tr>
    </thead>
    <tbody>
      {% for item in traceroutes %}
        <tr>
          <td>{{ datetime.fromtimestamp(item.timestamp).astimezone(zoneinfo) }}</td>
          <td>
            {% set fnode = nodes[item.from] %}
            {% if fnode %}
              <a href="node_{{ item.from }}.html">{{ fnode.shortname }}</a>
            {% else %}
              <span>UNK</span>
            {% endif %}
          </td>
          <td>
            {% set tnode = nodes[item.to] %}
            {% if tnode %}
              <a href="node_{{ item.to }}.html">{{ tnode.shortname }}</a>
            {% else %}
              <span>UNK</span>
            {% endif %}
          </td>
          <td>{{ item.hops_away }}</td>
          <td>
            {% for hop in item.route_ids %}
              {% set hnode = nodes[hop] %}
              {% if hnode %}
                <a href="node_{{ hop }}.html">{{ hnode.shortname }}</a>
              {% else %}
                <span>UNK</span>
              {% endif %}
              {% if not loop.last %}
                <span>></span>
              {% endif %}
            {% endfor %}
          </td>
          <td>{{ item.route | length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
