[mesh]
name=CSRA MSH
short_name=CSRA
description=Serving Meshtastic to the CSRA
contact=fake@gmail.com
url=https://www.csramesh.org
latitude=33.4687
longitude=-81.9717
channel_key=1PG7OiApB1nwvP+rz05pAQ==

[mqtt]
broker=mqtt.csramsh.net
port=1883
topic=msh/US/GA/csramsh/#
username=meshdev
password=large4cats

[database]
host=mariadb
username=meshdata
password=passw0rd
database=meshdata

[webserver]
port=8000

[server]
node_activity_prune_threshold=7200
render_interval=15
debug=true
timezone=America/New_York
zero_hop_timeout=43200
telemetry_retention_days = 30
metrics_average_interval=7200

[geocoding]
enabled=false
apikey=YOUR_KEY_HERE

[registrations]
enabled=true
jwt_secret=CHANGE_ME_THIS_IS_A_SECURITY_ISSUE_IF_YOU_DONT_861c02acfc2f475ddfab3d3120b35ce3993663432819523ccd60392b1ae2b93b

[smtp]
email=YOUR_EMAIL_ADDRESS
password=SMTP_PASSWORD
server=SMTP_SERVER
port=SMTP_PORT

[los]
enabled=false
max_distance=10000
cache_duration=43200