[mesh]
name=ZA Mesh
description=Serving Meshtastic to South Africa.
contact=dade@dade.co.za
url=https://mesh.zr1rf.za.net
latitude=-33.918861
longitude=18.423300
channel_key=1PG7OiApB1nwvP+rz05pAQ==

[mqtt]
broker=mqtt.zr1rf.za.net
port=1883
topic=msh/ZA/#
username=meshdev
password=large4cats

[database]
host=mariadb
username=meshdata
password=passw0rd
database=meshdata

[webserver]
port=8000

[server]
node_activity_prune_threshold=7200
render_interval=15
debug=true
timezone=America/Los_Angeles
zero_hop_timeout=43200

[geocoding]
enabled=false
apikey=YOUR_KEY_HERE

[registrations]
enabled=true
jwt_secret=6219c1c2364499639ce9d16c33863c4f6fedb7a4a1a0f29524c20d95cb00e5f5

[smtp]
email=YOUR_EMAIL_ADDRESS
password=SMTP_PASSWORD
server=SMTP_SERVER
port=SMTP_PORT