meshtastic
paho-mqtt
cryptography
mysql-connector-python
flask
waitress
paste
colorlog
bcrypt
pyjwt
matplotlib
cairocffi
cairosvg
Pillow
scipy
geopy
boto3
pytz==2025.2
Flask-Caching
pandas
psutil>=7.0.0
shapely
py-staticmaps