{% set this_page = "page not found" %}
{% extends "layout.html.j2" %}

{% block title %}Page not found | MeshInfo{% endblock %}

{% block content %}
<div class="container pt-3">
<h5>404 - Max Retransmission Reached</h5>
</div>
{% endblock %}