{% set this_page = "chat" %}
{% extends "layout.html.j2" %}

{% block title %}Chat | MeshInfo{% endblock %}

{% block content %}
<div class="container pt-3">
  <!-- Debug section -->
    {% if debug %}
    <div class="alert alert-info">
      <h4>Debug Info:</h4>
      <pre>{{ chat | tojson(indent=2) }}</pre>
      <h4>First Message Receptions:</h4>
      {% if chat and chat[0].receptions %}
      <pre>{{ chat[0].receptions | tojson(indent=2) }}</pre>
      {% else %}
      <pre>No receptions found</pre>
      {% endif %}
    </div>
    {% endif %}
  <h5>🗨️Chat</h5>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Ch</th>
          <th scope="col">Time</th>
          <th scope="col">From</th>
          <th scope="col" style="word-wrap: break-word;min-width: 50px;">To</th>
          <th scope="col" style="word-wrap: break-word;min-width: 400px;">Message</th>
        </tr>
      </thead>
      <tbody>
        {% for message in chat %}
        <tr>
          <td style="max-width: 10px;">{{ message.channel }}</td>
          <td>{{ format_timestamp(message['ts_created']) }}</td>
          {% if message["from"] in nodes %}
          <td><a href="node_{{ message['from'] }}.html">{{ nodes[message["from"]].long_name+" (" +
              nodes[message["from"]].short_name + ")" }}</a></td>
          {% else %}
          <td>{{ message["from"] }}</td>
          {% endif %}
          {% if message["to"] in nodes and message["to"] != "ffffffff" %}
          <td><a href="node_{{ message['to'] }}.html">{{ nodes[message["to"]].long_name+" (" +
              nodes[message["to"]].short_name + ")" }}</a></td>
          {% else %}
          <td>{{ message["to"] if message["to"] != "ffffffff" else "ALL"}}</td>
          {% endif %}
          <td>
              <div style="word-break: break-word; font-size: 1.1em; font-weight: 500;">{{ message["text"] }}</div>
              {% if message.receptions %}
              <div class="mt-2">
                  <span class="text-muted">Heard by:</span>
                  {% for reception in message.receptions %}
                      {% set node_id = utils.convert_node_id_from_int_to_hex(reception.node_id) %}
                      {% if node_id in nodes %}
                      <a href="/node_{{ node_id }}.html" class="text-decoration-none d-inline-block mx-1">
                          <span class="badge" 
                                style="font-size: 90%; 
                                      background-color: rgb(191, 228, 233); 
                                      color: rgb(33, 37, 41);
                                      padding: 3px 8px;
                                      display: inline-block;" 
                                title="SNR: {{ reception.rx_snr }}dB, RSSI: {{ reception.rx_rssi }}dBm{% if reception.hop_start is not none and reception.hop_limit is not none %}, Hops: {{ reception.hop_start - reception.hop_limit }} / {{ reception.hop_limit }} {% endif %}">
                              {{ nodes[node_id].short_name }}
                          </span>
                      </a>
                      {% endif %}
                  {% endfor %}
              </div>
              {% endif %}
          </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}