<!DOCTYPE html>
<html lang="en">

{% macro snr_badge(snr) %}
  {% if snr is not none %}  {# Check if snr exists and is not None #}
    {% if snr > 0 %}
      <span class="badge snr-good ms-1" title="Signal-to-Noise Ratio: Good">{{ "%.1f"|format(snr) }} dB</span>
    {% elif snr > -5 %}
      <span class="badge snr-adequate ms-1" title="Signal-to-Noise Ratio: Adequate">{{ "%.1f"|format(snr) }} dB</span>
    {% elif snr > -10 %}
      <span class="badge snr-poor ms-1" title="Signal-to-Noise Ratio: Poor">{{ "%.1f"|format(snr) }} dB</span>
    {% else %}
      <span class="badge snr-very-poor ms-1" title="Signal-to-Noise Ratio: Very Poor">{{ "%.1f"|format(snr) }} dB</span>
    {% endif %}
  {% endif %}
{% endmacro %}

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/meshinfo.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">  

  {% block head %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <a class="navbar-brand" href="{{  config["mesh"]["url"] }}">{{ config["mesh"]["name"] }}</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% for page in ["chat", "graph", "map", "nodes", "neighbors", "telemetry", "traceroutes", "logs"] %}
        <li class="nav-item{% if page == this_page %} active{% endif %}">
          <a class="nav-link" href="{{ page }}.html">{{ page.title() }}</a>
        </li>
        {% endfor %}
        {% if auth %}
        <li class="nav-item{% if this_page == "my nodes" %} active{% endif %}">
          <a class="nav-link" href="{{ url_for("mynodes") }}">My Nodes</a>
        </li>
        {% endif %}
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tools
          </a>
          <div class="dropdown-menu" aria-labelledby="toolsDropdown">
            <!-- <a class="dropdown-item" href="https://meshview.zr1rf.za.net/">MeshView</a> -->
            <a class="dropdown-item" href="https://mqtt.davekeogh.com/?lat=47.60292227835496&lng=237.49420166015628&zoom=10">PugetMesh Map</a>
            <a class="dropdown-item" href="https://meshmap.net/">MeshMap</a>
            <a class="dropdown-item" href="https://meshsense.affirmatech.com/">MeshSense Map</a>
          </div>
        </li>
        <li class="nav-item{% if this_page == "#MeshtasticMonday" %} active{% endif %}">
          <a class="nav-link" href="monday.html">#MeshtasticMonday</a>
        </li>
      </ul>
      {% if not auth %}
      <a href="{{ url_for("login") }}" class="btn btn-info" role="button">Login</a>
      {% else %}
      <a href="{{ url_for("logout") }}" class="btn btn-info" role="button">Logout</a>
      {% endif %}
    </div>
  </nav>
  {% if success_message %}<div class="p-3 mt-1 fw-bold" style="background: #94D19B;">{{ success_message }}</div>{% endif %}
  {% if error_message %}<div class="p-3 mt-1 fw-bold" style="background: #E57373;">{{ error_message }}</div>{% endif %}
  <main>
    {% block content %}{% endblock %}
  </main>
  <div class="text-center w-100 mt-5 mb-3" style="color: #505050">Visit <a href="https://github.com/agessaman/meshinfo-lite">MeshInfo-Lite</a> on Github. This code is based on <a href="https://github.com/dadecoza/meshinfo-lite">MeshInfo-Lite</a> by dadecoza and the original <a href="https://github.com/MeshAddicts/meshinfo">MeshInfo</a> by Kevin Elliott.</div>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>