{% set this_page = "logs" %}
{% extends "static/layout.html.j2" %}

{% block title %}Mesh Messages{% endblock %}

{% block og_title %}Mesh Messages | {{ config['mesh']['name'] }}{% endblock %}
{% block og_description %}Raw mesh message logs for the {{ config['mesh']['short_name'] }} network. View all messages received since server restart.{% endblock %}
{% block og_image_width %}1200{% endblock %}
{% block og_image_height %}630{% endblock %}
{% block twitter_title %}Mesh Messages | {{ config['mesh']['name'] }}{% endblock %}
{% block twitter_description %}Raw mesh message logs for the {{ config['mesh']['short_name'] }} network. View all messages received since server restart.{% endblock %}
{% block twitter_image_width %}1200{% endblock %}
{% block twitter_image_height %}630{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container pt-3">
  <h5>Mesh Messages</h5>
  <p class="mb-2">
    All messages from the mesh. Only the messages received
    since this server was last restarted are shown.
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col" class="border border-gray-500 bg-gray-400">Timestamp</th>
        <th scope="col" class="border border-gray-500 bg-gray-400">Message</th>
      </tr>
    </thead>
    <tbody>
      {% for message in messages[::-1] %}
      <tr>
        <td class="p-1 border text-secondary text-nowrap">
          {% if message.timestamp %}
          {{ datetime.fromtimestamp(message.timestamp).astimezone(zoneinfo) }}
          {% endif %}
        </td>
        <td class="p-1 border text-secondary">{{ json.dumps(message, indent=2, cls=JSONEncoder) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}