{% extends "layout.html.j2" %}

{% block title %}{{ node.short_name }} | Node | MeshInfo{% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/openlayers@4.6.5/dist/ol.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/openlayers@4.6.5/dist/ol.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container pt-3">
<div class="container">
  <p>
    <a href="nodes.html">Nodes</a> &gt; {{ node.short_name }}
  </p>
  <table>
    <tr>
      <td rowspan="2"><img src="https://api.dicebear.com/9.x/bottts-neutral/svg?seed={{ node.id }}" alt="Avatar"
          style="height: 50px;"></td>
      <td colspan="4">
        <h5>{{ node.short_name }} - {{ node.long_name }}</h5>
      </td>
    </tr>
    <tr>
      {% if node.telemetry %}
      <td class="text-center">
        {% if node.telemetry.air_util_tx %}
        <span class="text-center" title="Air Util TX">
          <img src="images/icons/up.svg" alt="Air Util TX" style="height: 14px">
          {{ node.telemetry.air_util_tx | round(1) }}%
        </span>
        {% endif %}
      </td>
      <td class="text-center">
        {% if node.telemetry.channel_utilization %}
        <span class="text-center" title="Channel Util">
          <img src="images/icons/down.svg" alt="Channel Util" style="height: 14px">
          {{ node.telemetry.channel_utilization | round(1) }}%
        </span>
        {% endif %}
      </td>
      <td class="text-center">
        {% if node.telemetry.battery_level %}
        <span class="text-center" title="Battery Level">
          <img src="images/icons/battery.svg" alt="Battery" style="height: 20px">
          {{ node.telemetry.battery_level | round(0) }}%
        </span>
        {% endif %}
      </td>
      <td class="text-center">
        {% if node.telemetry.voltage %}
          <span class="text-center" title="Voltage">
            <img src="images/icons/voltage.svg" alt="Voltage" style="height: 14px">
            {% if node.telemetry.voltage is number %}
              {{ node.telemetry.voltage | round(1) }}V
            {% else %}
              {{ node.telemetry.voltage }}
            {% endif %}
          </span>
        {% endif %}
      </td>
      {% else %}
      <td colspan="4"></td>
      {% endif %}
    </tr>
  </table>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm p-2">
      {% if node.position and node.position.latitude_i and node.position.longitude_i %}
      <div id="map" class="map"></div>
      {% endif %}
      {% if node.telemetry %}
      <img class="w-100" src="data:image/jpeg;base64,{{ telemetry_graph }}">
      {% endif %}
      <div class="w-100 mt-2 text-center fw-bold p-2" style="background: #D7F9FF;">Elsewhere</div>
      <div>
        <!-- <a href="https://meshview.zr1rf.za.net/packet_list/{{ node.id }}"
          target="_blank">Armooo's MeshView</a><br /> -->
        <a href="https://meshtastic.davekeogh.com/?node_id={{ node.id }}"
          target="_blank">PugetMesh Map</a><br />
        <a href="https://meshmap.net/#{{ node.id }}" target="_blank">MeshMap</a>
      </div>
    </div>
    <div class="col-sm p-2">
      <table class="table table-sm">
        <thead>
          <tr>
            <th colspan="2" scope="col">Details</th>
          </tr>
        </thead>
        <tbody style="background: #F2F6F9;">
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">ID (hex)</th>
            <td class="text-left">
              {{ utils.convert_node_id_from_int_to_hex(node.id) }}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">ID (int)</th>
            <td class="text-left">
              {{ node.id }}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Hardware</th>
            <td class="text-left">
              {% if node.hw_model %}
              {% if node.hw_model in meshtastic_support.HardwareModel._value2member_map_ %}
              {% if meshtastic_support.HardwareModel(node.hw_model) and meshtastic_support.HardwareModel(node.hw_model)
              in
              meshtastic_support.HARDWARE_PHOTOS %}
              <img
                src="images/hardware/{{ meshtastic_support.HARDWARE_PHOTOS[meshtastic_support.HardwareModel(node.hw_model)] }}"
                alt="{{ meshtastic_support.HardwareModel(node.hw_model).name }}"
                title="{{ meshtastic_support.HardwareModel(node.hw_model).name }}" class="rounded"
                style="max-height: 100px;">
              {% else %}
              {{ meshtastic_support.HardwareModel(node.hw_model).name }}
              {% endif %}
              {% else %}
              {{ node.hw_model }}
              {% endif %}
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Firmware version</th>
            <td class="text-left">
              {% if node.firmware_version %}
              {{ node.firmware_version }}
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Role</th>
            <td class="text-left">
              {% if node.role is not none %}
              {% if node.role == 0 %}
              Client
              {% elif node.role == 1 %}
              Client Mute
              {% elif node.role == 2 %}
              Router
              {% elif node.role == 3 %}
              Router Client
              {% elif node.role == 4 %}
              Repeater
              {% elif node.role == 5 %}
              Tracker
              {% elif node.role == 6 %}
              Sensor
              {% elif node.role == 7 %}
              ATAK
              {% elif node.role == 8 %}
              Client Hidden
              {% elif node.role == 9 %}
              Lost and Found
              {% elif node.role == 10 %}
              ATAK Tracker
              {% else %}
              Unknown
              {% endif %}
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          {% if node.position %}
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Position</th>
            <td class="text-left">
              {% if node.position and node.position.latitude_i and node.position.longitude_i %}
              {{ node.position.longitude_i / 1e7 }}, {{ node.position.latitude_i / 1e7 }}
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Grid Square</th>
            <td class="text-left">
              {% if node.position and node.position.latitude_i and node.position.longitude_i %}
              {% set grid = utils.latlon_to_grid(node.position.latitude_i / 1e7, node.position.longitude_i / 1e7) %}
              {{ grid }}
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Location</th>
            <td class="text-left">
              {% if node.position and node.position.geocoded %}
              {{ node.position.geocoded }}
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Altitude</th>
            <td class="text-left">
              {% if node.position and node.position.altitude %}
              {{ node.position.altitude }} m
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          {% endif %}
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Status</th>
            <td class="text-left">
              {% if node.active %}
              <span class="text-success">Online</span>
              {% else %}
              <span class="text-secondary">Offline</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">First Seen</th>
            <td class="text-left">
              {% if node.ts_created %}
              {{ format_timestamp(node.ts_created) }}
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Last Seen</th>
            <td class="text-left">
              {% if node.ts_seen %}
              {{ format_timestamp(node.ts_seen) }} ({{ time_ago(node.ts_seen) }})
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Owner</th>
            <td class="text-left">
              {% if node.owner_username %}
              <a href='user_{{ node.owner_username }}.html'>{{ node.owner_username }}</a>
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" style="background: #F2F6F9; text-align: left;">Updated via</th>
            <td class="text-left">
              {% if node.updated_via %}
              {% set vid = utils.convert_node_id_from_int_to_hex(node.updated_via) %}
              {% if node.updated_via == node.id %}
              Self
              {% elif vid in nodes %}
              <a href='node_{{ vid }}.html'>{{ nodes[vid]["long_name"] }}</a>
              {% else %}
              {{ vid }}
              {% endif %}
              {% else %}
              Unknown
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th colspan="4" scope="col">Heard (zero hop)</th>
          </tr>
          <tr>
            <th scope="col">Node</th>
            <th scope="col">Signal</th>
            <th scope="col">Distance</th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        <tbody>
          {% set processed_nodes = [] %}
          
          <!-- Process neighbor data first -->
          {% for neighbor in node.neighbors %}
            {% set nid = utils.convert_node_id_from_int_to_hex(neighbor.neighbor_id) %}
            {% set nnode = nodes[nid] if nid in nodes else None %}
            {% if nid not in processed_nodes %}
              {% set processed_nodes = processed_nodes + [nid] %}
              <tr>
                <td>
                  {% if nnode %}
                  <a href="node_{{ nid }}.html">{{ nnode.short_name }}</a>
                  {% else %}
                  <span class="text-secondary">UNK</span>
                  {% endif %}
                </td>
                <td>
                  SNR: {{ neighbor.snr }}
                </td>
                <td>
                  {% if nid in nodes %}
                  {% set dist = utils.calculate_distance_between_nodes(nodes[nid], node) %}
                  {% if dist %}
                    {% if nodes[nid].position and nodes[nid].position.latitude_i and nodes[nid].position.longitude_i and node.position and node.position.latitude_i and node.position.longitude_i %}
                      <a href="https://heywhatsthat.com/profiler.html?show_grade=0&show_rise=0&include_grade=1&decimal_places=0&elev_source=0&ll1={{ node.position.latitude_i / 1e7 }},{{ node.position.longitude_i / 1e7 }}&ll2={{ nodes[nid].position.latitude_i / 1e7 }},{{ nodes[nid].position.longitude_i / 1e7 }}" 
                        target="_blank" 
                        title="View elevation profile">
                        {{ dist }} km 🏔️
                      </a>
                    {% else %}
                      {{ dist }} km
                    {% endif %}
                  {% endif %}
                  {% endif %}
                </td>
                <td><span title="Neighbor data">N</span></td>
              </tr>
            {% endif %}
          {% endfor %}
          
          <!-- Process message reception data -->
          {% if zero_hop_heard %}
            {% for heard in zero_hop_heard %}
              {% set nid = utils.convert_node_id_from_int_to_hex(heard.from_id) %}
              {% if nid not in processed_nodes %}
                {% set processed_nodes = processed_nodes + [nid] %}
                <tr>
                  <td>
                    {% if nid in nodes %}
                    <a href="node_{{ nid }}.html">{{ nodes[nid].short_name }}</a>
                    {% else %}
                    <span class="text-secondary">UNK</span>
                    {% endif %}
                  </td>
                  <td>
                    SNR: {{ heard.best_snr }} max / {{ heard.avg_snr|round(1) }} avg
                  </td>
                  <td>
                    {% if nid in nodes %}
                    {% set dist = utils.calculate_distance_between_nodes(nodes[nid], node) %}
                    {% if dist %}
                      {% if nodes[nid].position and nodes[nid].position.latitude_i and nodes[nid].position.longitude_i and node.position and node.position.latitude_i and node.position.longitude_i %}
                        <a href="https://heywhatsthat.com/profiler.html?show_grade=0&show_rise=0&include_grade=1&decimal_places=0&elev_source=0&ll1={{ node.position.latitude_i / 1e7 }},{{ node.position.longitude_i / 1e7 }}&ll2={{ nodes[nid].position.latitude_i / 1e7 }},{{ nodes[nid].position.longitude_i / 1e7 }}" 
                          target="_blank" 
                          title="View elevation profile">
                          {{ dist }} km 🏔️
                        </a>
                      {% else %}
                        {{ dist }} km
                      {% endif %}
                    {% endif %}
                    {% endif %}
                  </td>
                  <td><span title="Message data">M</span> ({{ heard.count }}) <small title="Last heard at {{ format_timestamp(heard.last_rx_time) }}">{{ time_ago(heard.last_rx_time) }}</small></td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        </tbody>
      </table>

      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th colspan="4" scope="col">Heard By (zero hop)</th>
          </tr>
          <tr>
            <th scope="col">Node</th>
            <th scope="col">Signal</th>
            <th scope="col">Distance</th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        <tbody>
          {% set processed_nodes = [] %}
          
          <!-- Process neighbor data first -->
          {% for id, nnode in nodes.items() %}
            {% if nnode.neighbors %}
              {% for neighbor in nnode.neighbors %}
                {% if neighbor.neighbor_id == node.id and id not in processed_nodes %}
                  {% set processed_nodes = processed_nodes + [id] %}
                  <tr>
                    <td>
                      {% if id in nodes %}
                      <a href="node_{{ id }}.html">{{ nodes[id].short_name }}</a>
                      {% else %}
                      <span class="text-secondary">UNK</span>
                      {% endif %}
                    </td>
                    <td>
                      SNR: {{ neighbor.snr }}
                    </td>
                    <td>
                      {% if nid in nodes %}
                      {% set dist = utils.calculate_distance_between_nodes(nodes[nid], node) %}
                      {% if dist %}
                        {% if nodes[nid].position and nodes[nid].position.latitude_i and nodes[nid].position.longitude_i and node.position and node.position.latitude_i and node.position.longitude_i %}
                          <a href="https://heywhatsthat.com/profiler.html?show_grade=0&show_rise=0&include_grade=1&decimal_places=0&elev_source=0&ll1={{ node.position.latitude_i / 1e7 }},{{ node.position.longitude_i / 1e7 }}&ll2={{ nodes[nid].position.latitude_i / 1e7 }},{{ nodes[nid].position.longitude_i / 1e7 }}" 
                            target="_blank" 
                            title="View elevation profile">
                            {{ dist }} km 🏔️
                          </a>
                        {% else %}
                          {{ dist }} km
                        {% endif %}
                      {% endif %}
                      {% endif %}
                    </td>
                    <td><span title="Neighbor data">N</span></td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          
          <!-- Process message reception data -->
          {% if zero_hop_heard_by %}
            {% for heard in zero_hop_heard_by %}
              {% set nid = utils.convert_node_id_from_int_to_hex(heard.received_by_id) %}
              {% if nid not in processed_nodes %}
                {% set processed_nodes = processed_nodes + [nid] %}
                <tr>
                  <td>
                    {% if nid in nodes %}
                    <a href="node_{{ nid }}.html">{{ nodes[nid].short_name }}</a>
                    {% else %}
                    <span class="text-secondary">UNK</span>
                    {% endif %}
                  </td>
                  <td>
                    SNR: {{ heard.best_snr }} max / {{ heard.avg_snr|round(1) }} avg
                  </td>
                  <td>
                    {% if nid in nodes %}
                    {% set dist = utils.calculate_distance_between_nodes(nodes[nid], node) %}
                    {% if dist %}
                      {% if nodes[nid].position and nodes[nid].position.latitude_i and nodes[nid].position.longitude_i and node.position and node.position.latitude_i and node.position.longitude_i %}
                        <a href="https://heywhatsthat.com/profiler.html?show_grade=0&show_rise=0&include_grade=1&decimal_places=0&elev_source=0&ll1={{ node.position.latitude_i / 1e7 }},{{ node.position.longitude_i / 1e7 }}&ll2={{ nodes[nid].position.latitude_i / 1e7 }},{{ nodes[nid].position.longitude_i / 1e7 }}" 
                          target="_blank" 
                          title="View elevation profile">
                          {{ dist }} km 🏔️
                        </a>
                      {% else %}
                        {{ dist }} km
                      {% endif %}
                    {% endif %}
                    {% endif %}
                  </td>
                  <td><span title="Message data">M</span> <span title="Number of messages received">({{ heard.count }})</span> <small title="Last heard at {{ format_timestamp(heard.last_rx_time) }}">{{ time_ago(heard.last_rx_time) }}</small></td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% if los_profiles %}
  <div class="w-100 mt-2 text-center fw-bold p-2" style="background: #D7F9FF;">Line-of-sight with nodes in 20km radius</div>
  <div class="row">
    {% for id, data in los_profiles.items()|sort(attribute='1.distance') %}
    <div class="col-sm-6 p-2">
      <a href="node_{{ id }}.html"><img class="w-100" src="data:image/jpeg;base64,{{ data.image }}"></a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<script type="module">
  var defaultStyle = new ol.style.Style({
    image: new ol.style.Circle({
      radius: 6,
      fill: new ol.style.Fill({
        color: 'rgba(0, 0, 240, 1)'
      }),
      stroke: new ol.style.Stroke({
        color: 'white',
        width: 2
      })
    })
  });

  var offlineStyle = new ol.style.Style({
    image: new ol.style.Circle({
      radius: 6,
      fill: new ol.style.Fill({
        color: 'rgba(0, 0, 0, 0.50)'
      }),
      stroke: new ol.style.Stroke({
        color: 'white',
        width: 2
      })
    })
  });

  var onlineStyle = new ol.style.Style({
    image: new ol.style.Circle({
      radius: 6,
      fill: new ol.style.Fill({
        color: 'rgba(50, 240, 50, 1)'
      }),
      stroke: new ol.style.Stroke({
        color: 'white',
        width: 2
      })
    })
  });

  var node = {
    id: '{{ node.id }}',
    short_name: '{{ node.short_name }}',
    long_name: '{{ node.long_name }}',
    last_seen: '{{ node.last_seen }}',
    position: {
      latitude: 38.575764,
      longitude: -121.478851
    },
    active: {{ node.active | tojson }},
    };
  
  const coordinates = {{ node_route|tojson|safe }};


  // Convert coordinates to OpenLayers format
  const route = new ol.geom.LineString(coordinates.map(coord => ol.proj.fromLonLat(coord)));

  // Create a feature for the route
  const routeFeature = new ol.Feature({
      geometry: route
  });

  // Style the route line
  routeFeature.setStyle(new ol.style.Style({
      stroke: new ol.style.Stroke({
          color: 'cyan',
          width: 2
      })
  }));

  // Create a vector source and layer
  const vectorSource = new ol.source.Vector({
      features: [routeFeature]
  });

  const vectorLayer = new ol.layer.Vector({
      source: vectorSource
  });


  {% if node.position and node.position.longitude_i and node.position.latitude_i %}
  node.position.latitude = {{ node.position.latitude_i / 1e7 }};
  node.position.longitude = {{ node.position.longitude_i / 1e7 }};
  {% endif %}

  {% if node.position and node.position.altitude %}
  node.position.altitude = {{ node.position.altitude }};
  {% endif %}

  {% if node.position and node.position.latitude_i and node.position.longitude_i %}
  const map = new ol.Map({
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM(),
      }),
    ],
    target: 'map',
    view: new ol.View({
      center: ol.proj.fromLonLat([node.position.longitude, node.position.latitude]),
      zoom: 12,
    }),
  });

  var features = [];
  var feature = new ol.Feature({
    geometry: new ol.geom.Point(ol.proj.fromLonLat([node.position.longitude, node.position.latitude])),
    node: node,
  });
  if (node.active) {
    feature.setStyle(onlineStyle);
  } else {
    feature.setStyle(offlineStyle);
  }
  features.push(feature);

  const layer = new ol.layer.Vector({
    style: defaultStyle,
    source: new ol.source.Vector({
      features: features
    })
  });
  map.addLayer(layer);
  map.addLayer(vectorLayer);
  {% endif %}

</script>
<style>
  #map {
    height: 300px;
    width: 100%;
  }
</style>
</div>
{% endblock %}