<div class="table-responsive">
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th colspan="2" scope="col">ID</th>
        <th colspan="2" scope="col">Name</th>
        <th scope="col">HW</th>
        <th scope="col">FW</th>
        <th scope="col">Role</th>
        <th colspan="3" scope="col">Last Position</th>
        <th scope="col">Neighbors</th>
        <th colspan="4" scope="col">Telemetry</th>
        <th scope="col">Seen</th>
        <th scope="col">Owner</th>
      </tr>
      <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">Short</th>
        <th scope="col">Long</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">Altitude</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Count</th>
        <th scope="col"><img src="images/icons/battery.svg" style="height: 20px;" alt="Battery" title="Battery"></th>
        <th scope="col"><img src="images/icons/voltage.svg" style="height: 14px;" alt="Voltage" title="Voltage"></th>
        </th>
        <th scope="col"><img src="images/icons/up.svg" style="height: 14px;" alt="Air Util TX" title="Air Util TX"></th>
        </th>
        <th scope="col"><img src="images/icons/down.svg" style="height: 14px;" alt="Channel Util" title="Channel Util">
        </th>
        </th>
        <th scope="col">Since</th>
        <th scope="col"></th>
      </tr>
    <tbody>
      {% for id, node in nodes.items()|sort(attribute='1.short_name') %}
      {% if node.active or show_inactive %}
      <tr style="{% if not node.active %}opacity: 0.5;{% endif %}">
        <td class="p-0" style="width:50px;">
          <img src="https://api.dicebear.com/9.x/bottts-neutral/svg?seed={{ id }}" alt="Avatar"
            style="height: 50px; width: 50px;">
        </td>
        <td scope="col">
          {% if id %}
          {% set id = id|replace('!', '') %}
          <a href='node_{{ id }}.html'>{{ id }}</a>
          {% else %}
          {{ id }}
          {% endif %}
        </td>
        <td scope="col">
          {% if id %}
          {% set id = id|replace('!', '') %}
          <a href='node_{{ id }}.html'>{{ node.short_name }}</a>
          {% else %}
          {{ node.short_name }}
          {% endif %}
        </td>
        <td scope="col">
          {{ node.long_name }}
        </td>
        <td scope="col" class="text-center">
          {% if node.hw_model and node.hw_model in meshtastic_support.HardwareModel._value2member_map_ %}
          {% if meshtastic_support.HardwareModel(node.hw_model) and meshtastic_support.HardwareModel(node.hw_model) in
          meshtastic_support.HARDWARE_PHOTOS %}
          <img
            src="images/hardware/{{ meshtastic_support.HARDWARE_PHOTOS[meshtastic_support.HardwareModel(node.hw_model)] }}"
            alt="{{ meshtastic_support.HardwareModel(node.hw_model).name }}"
            title="{{ meshtastic_support.HardwareModel(node.hw_model).name }}" style="width: 50px;">
          {% endif %}
          {% endif %}
        </td>
        <td scope="col">
          {% if node.firmware_version %}
          {{ node.firmware_version }}
          {% endif %}
        </td>
        <td scope="col">
          {% if node.role is not none %}
          {% if node.role == 0 %}
          <span title="Client">C</span>
          {% elif node.role == 1 %}
          <span title="Client Mute">CM</span>
          {% elif node.role == 2 %}
          <span title="Router">R</span>
          {% elif node.role == 3 %}
          <span title="Router Client">RC</span>
          {% elif node.role == 4 %}
          <span title="Repeater">RE</span>
          {% elif node.role == 5 %}
          <span title="Tracker">T</span>
          {% elif node.role == 6 %}
          <span title="Sensor">S</span>
          {% elif node.role == 7 %}
          <span title="ATAK">A</span>
          {% elif node.role == 8 %}
          <span title="Client Hidden">CH</span>
          {% elif node.role == 9 %}
          <span title="Lost and Found">LF</span>
          {% elif node.role == 10 %}
          <span title="ATAK Tracker">AT</span>
          {% endif %}
          {% endif %}
        </td>
        {% if node.position %}
        <td  scope="col">
          {% if node.position.altitude %}
          {{ node.position.altitude }} m
          {% endif %}
        </td>
        <td  scope="col">{{ node.position.latitude or "" }}</td>
        <td  scope="col">{{ node.position.longitude or "" }}</td>
        {% else %}
        <td  scope="col"></td>
        <td  scope="col"></td>
        <td  scope="col"></td>
        {% endif %}
        {% if node.neighbors %}
        <td  scope="col">{{ node.neighbors|length or "" }}</td>
        {% else %}
        <td  scope="col"></td>
        {% endif %}
        {% if node.telemetry %}
          <td  scope="col">
            {% if 'battery_level' in node.telemetry %}
              {{ node.telemetry.battery_level }}%
            {% endif %}
          </td>
          <td  scope="col">
            {% if 'voltage' in node.telemetry %}
              {% if node.telemetry.voltage is number %}
                {{ node.telemetry.voltage|round(2) }}V
              {% else %}
                {{ node.telemetry.voltage }}
              {% endif %}
            {% endif %}
          </td>
          <td  scope="col">
            {% if 'air_util_tx' in node.telemetry %}
              {% if node.telemetry.air_util_tx is number %}
                {{ node.telemetry.air_util_tx|round(1) }}%
              {% else %}
                {{ node.telemetry.air_util_tx }}
              {% endif %}
            {% endif %}
          </td>
          <td  scope="col">
            {% if 'channel_utilization' in node.telemetry %}
              {% if node.telemetry.channel_utilization is number %}
                {{ node.telemetry.channel_utilization|round(1) }}%
              {% else %}
                {{ node.telemetry.channel_utilization }}
              {% endif %}
            {% endif %}
          </td>
          {% else %}
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          {% endif %}
          <td scope="col">{{ time_ago(node.ts_seen) }}</td>
          <td>
            {% if node.owner_username %}
            <a href="user_{{ node.owner_username }}.html">{{ node.owner_username }}</a>
            {% endif %}
          </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>

    </thead>
  </table>
</div>